@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

* {
  padding: 0;
  margin: 0; 
}

:root {
  --dark-cyan: #3c8067;
  --cream: #f2ebe3;
  --dark-blue: #1c232b;
  --grayish-blue: #6c7289;
  --white: #F5F5F5;

  --montserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", serif;
}

body {
  background-color: var(--cream) ;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img {  
  border-radius: 20px;
}

.parfum-description {
  background-color: var(--white);
  width: 30%;
  height: auto;
  border-radius: 20px;
}

.text {
  text-indent: 40px;
}

.small-text {
  font-family: var(--montserrat);
  color: var(--grayish-blue);
  margin-top: 32px;    
  margin-bottom: 30px;  
}

.big-title {
  font-family: var(--fraunces);
  font-size: 40px;
  margin-top: 30px;
}

.paragraph {
  font-family: var(--montserrat);
  font-size: 18px;
  color: var(--grayish-blue);
  margin-top: 50px; 
  line-height: 32px;
}

.price-container {
  display: flex;
  align-items: center;
  text-indent: 40px;
  margin-top: 40px;  
}

.big-price {
  font-family: var(--fraunces);
  font-size: 36px;
  color: var(--dark-cyan);
}

.small-price {
  font-family: var(--montserrat);
  color: var(--grayish-blue);
  margin-left: 5px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 30px; 
}

.button {
  font-family: var(--montserrat);
  font-size: 16px;
  color: var(--white);
  background-color: var(--dark-cyan);
  border-radius: 10px;
  width: 320px;
  height: 50px;
  border: none;
  margin-bottom: 30px;  
}

.ico {
  margin-right: 8px;
}

.button:hover {
  background-color: #358F65;
}

@media (max-width: 480px) {
  .container{
    flex-direction: column;
    justify-content: flex-start;
  }
  .container > div {
    margin: -2px;
  }
  .img{
    width: 16em;
    height: 14em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .parfum-description {
    width: 16em;
    height: 19em;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .small-text {
    font-size: 8px;
    text-indent: 15px;
    margin-top: 15px;
    margin-bottom: -15px;
    margin-left:15px;
  }
  .big-title {
    font-size: 20px;
    text-indent: 10px;
    margin-top:25px;
    margin-left:15px;
  }
  .paragraph {
    font-size: 10px;
    text-indent: 10px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: -20px;
    margin-left:15px;
 }
  .big-price {
    font-size: 20px;
    text-indent: 10px;
    margin-right: -25px;
    margin-left:15px;
  }
  .small-price {
    font-size: 8px;
    margin-right: 20px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 12px;
    margin-top: -10px;
    width: 100px;
    height: 28px;
  }
  .button:hover{
    background-color: #358F65;
 }
 .ico{
  width: 12px;
 }
}


@media (min-width: 481px) and (max-width:767px) {
  .container{
    flex-direction: row;
  }
  .img{
    border-radius: 10px;
    width: 13em;
    height: 21em;
  }
  .parfum-description {
    justify-content: flex-end;
    border-radius: 10px;
    width: 20em;
    height: 21em;
  }
  .small-text {
    font-size: 8px;
    text-indent: 10px;
    margin-top: 30px;
    margin-bottom: -15px;
    margin-left: 20px;
  }
  .big-title {
    font-size: 25px;
    text-indent: 12px;
    margin-left: 20px;
  }
  .paragraph {
    font-size: 12px;
    text-indent: 12px;
    margin-top:10px;
    margin-bottom: -20px; 
    margin-left: 20px;
    line-height: 1.5;
 }
  .big-price {
    font-size: 25px;
    text-indent: 10px;
    margin-right: -25px;
    margin-left: 20px;
  }
  .small-price {
    font-size: 10px;
    margin-right: 20px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 12px;
    margin-top: -10px;
    width: 100px;
    height: 30px;
  }
  .button:hover{
    background-color: #358F65;
 }
  .ico {
    width: 14px;
  }
}

@media (min-width: 768px) and (max-width:991px){

}


